<!DOCTYPE html>
<html lang="en" >
<head>
    {%load static%}
     <link rel="stylesheet" href="{%static "css/styles.css" %}">
    <meta charset="UTF-8">
    <title>Update</title>

        <style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>

</head>
<body>
<div class="login-page">
  <div class="form">
 {% if user.is_authenticated %}
      <div class="customers">
<table id="customers" >
    <tr><th>Roll</th><th>Name</th><th>Status</th></tr>
<form method="post">
    {% csrf_token %}
    {% for i in x %}
    <tr><td>{{i.roll}}</td> <td>{{i.username}}</td><td><input type="checkbox" name={{i.roll}} value="Present"> Present</td></tr>
    {% endfor %}


    <input type="submit">Submit</input>
</form>
</table>
{% endif %}
  </div>
  </div>
</div>
</body>
</html>